*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {list-style: none;}
.verde 
{
    background-color: darkgreen;
    padding: 10px;
}
.vermelha
{
    background-color: red;
    padding: 10px;
}
#caixa 
{
    width: 40%;
    margin: 0 auto;
    border: solid red 1px;
}
#titulo, #subtitulo
{
    text-align: center; 
}